<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nightvisionmedia.emergencyapp">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".appconfig.AppConfig"
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="emergencyapp.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.nightvisionmedia.emergencyapp.sugar_models" />

        <activity android:name=".activities.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginScreenActivity" />
        <activity android:name=".activities.RegisterScreenActivity" />
        <activity android:name=".activities.HomeScreenActivity" />
        <activity android:name=".activities.AlertsScreenActivity" />
        <activity android:name=".activities.INeedHelpActivity" />
        <activity android:name=".activities.HappeningsActivity" />
        <activity android:name=".activities.MoreScreenActivity" />

        <service android:name=".firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.AdminSendNotifications" />
        <activity android:name=".activities.DirectoryScreenActivity" />
        <activity android:name=".activities.ShowMainContentActivity" />
        <activity android:name=".activities.AlertsFavScreenActivity" />
        <activity android:name=".activities.SettingsScreenActivity" />
        <activity android:name=".activities.HappningsFavScreenActivity" />
        <activity android:name=".activities.ForgetPasswordScreenActivity"></activity>
    </application>

</manifest>